* {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
    width: 100%;
}

body {
    position: flex;
    flex-direction: column;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

main .banner {
    position: relative;
    width: 100%;
    display: flex;
    height: 80vh;
}

main.user .banner {
    position: relative;
    height: 40vh;
}

main .banner .banner_left {
    position: relative;
    height: 100%;
    width: 60%;
    margin-right: auto;
}

main.user .banner .banner_left {
    width: 50%;
}

main .banner .banner_left .banner_left_one { 
    position: absolute;
    z-index: -1;
    min-height: 100%;
    height: 100%;
    width: 60vw;
    object-fit: fill;
}

main.user .banner .banner_left .banner_left_one {
    object-fit: fill;
    width: 60vw;
}   

main .banner .banner_left .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
    
    padding-left: 10vw;

    align-items: center;
    /* background-color: blue; */
}

main .banner .banner_left .content h1 {
    font-weight: 500;
    font-family: Poppins;
    font-size: 6vw;
    color: rgba(73, 10, 61, 1);    
}

main.user .banner .banner_left .content h1 {
    font: 500 4vw Poppins;

}

main .banner .banner_left .content p {
    font: 400 1vw Open Sans;
    color: rgba(73, 10, 61, 1);    
    text-align: center;
}

main .banner .banner_left .content button {
    font: 700 2vh Montserrat;
    text-align: center;
}

main .banner .banner_right {
    position: absolute;
    z-index: -2;
    right: 0;
    margin-left: auto;
    height: 100%;
} 

main.user .banner .banner_right {
    position: absolute;
    /* min-height: 100%; */
    min-height: 100%;
    width: 40vw;
    object-fit: cover;
    zoom: 150%;
}

main .products {
    /* height: 650px; */
    width: 100%;
    padding: 80px 10vw;
    padding-bottom: 80px;
}

main .products .text {
    display: flex;
    justify-content: flex-end;
    /* padding: 10vw;    */
}

main .products .text h2 {
    margin-right: auto;
    font: 700 33px Montserrat;
}

main .products .text a {
    display: flex;
}

main .products .text p {
    letter-spacing: 2.4px;
    font: 700 20px Montserrat;
}

main .products .text img {
    margin-left: 10px;
    height: 12px;
}

main .products .preview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px; 
    width: 100%;
    padding: 80px 10vw;
    padding-bottom: 0px;
    max-width: 100%;
}

main .products .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 99px #0000001F;
}

main .products .item img {
    width: 100%;
    max-width: 200px;
    margin-top: 8px;
}

@media (max-width: 800px) {
    main .products .preview {
        display: flex;
        flex-direction: column;
    }
}

