@font-face {
    font-family: Poppins-Medium;
    src: url(../css/Poppins/Poppins-Medium.ttf);
}

* {
    margin: 0px;
    font-family: Poppins-Medium;
    font-weight: lighter;
}

/* Header */
.container-services {
    background: #F8CA00 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    padding: 7vh 10vw;
    position: relative;
}

.container-services .background-services {
    position: absolute;
    z-index: 0;
    top: 0px;
    background-image: url("../img/all.png"); 
    background-repeat: repeat-x;
    opacity: 0.3;
    width: 88%; 
    height: 100%;
}

.container-services h1 {
    color: #490A3D;
    text-align: left;
    font-size: 34px;
}

/* Containers */
.row-services {
    display: flex;
    flex: wrap;
    justify-content:space-between;
    background-color: rgb(255, 255, 255);
    padding: 2vh 0vw 2vh;
}

.row-services div {
    display: flex;
    flex: wrap;
    justify-content:space-between;
}

.row-services div p{
    font-weight: bold;
    color: #490A3D;
    padding: 0px 9px 0px 0px;
}

::placeholder {
    color: #490A3D;
    padding: 10px;
    opacity: 1; /* Firefox */
}

#filtro-services {
    background-color: white;
    width: 17vw;
}

#serch-services {
    width: 30vw;
}

.col-12-services {
    background-color:white;
    color: #490A3D;
    display: inline-block;
    box-shadow: 0px 10px 8px #0000001F;
    text-align: center;
    width: 100%;
    margin: 10px 0px;
    padding: 3vh 0vw 3vh;
    opacity: 1;
    position: relative;
}

.col-12-services h2 {
    text-align: left;
    padding: 0vh 3vw;
    opacity: 1;
}

.col-12-services p {
    color: rgb(120, 135, 170);
    text-align: left;
    padding: 0vh 3vw;
    opacity: 1;
}

.col-12-services button {
    float: right;
    color: white;
    background-color: rgb(168, 33, 80);
    padding: 0vh 2vw;
    border-radius: 30px;
    border: 0;
    margin: 1.5vh 2vw;
}

.col-12-services img {
    padding: 1vh 2vw;
    float: left;
    width: 10%;
    height: 10%;
}

/* background opaco */
.col-12-services .background-services {
    position: absolute;
    z-index: 0;
    top: 0px;
    background-image: url("../img/all.png"); 
    background-repeat: repeat-x;
    opacity: 0.07;
    width: 100%; 
    height: 100%;
}

.col-12-services:hover {
    background: #F8CA0030 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 99px #00000000;
    border-radius: 20px 20px 0px 0px;
    opacity: 1;
    filter: blur(0.08px);
}

.col-12-services p:hover {
    color: rgb(71, 71, 71);
}

.content-services {
    /* box-shadow: 0px 15px 15px 0px rgb(136, 136, 136); */
    margin: 2vh 8vw 2vh;
    padding: 2vh 2vw 2vh;
}

/* Details */
.content-detail-services {
    display: flex;
    /* width: fit-content; */
    /* grid-template-columns: aut; */
    /* margin: 2vh  8vw 3vh; */
    /* padding: 2vh 2vw; */
    opacity: 1;
}

a button {
    margin: 4vh 8vw;
    color: white;
    box-shadow: none;
    padding: 8px 15px;
    margin: 2vh 10vw;
    background-color: #490A3D;
    border-radius: 20px;
    border: none;
    text-align: center;
}

.content-detail-services .perfil-detail-services {
    float: left;
    width: 30%;
    padding: 5vh 5vw 0vh 10vw;
}

.content-detail-services .perfil-detail-services img {
    width: 100%;
    border-radius: 10px 10px 0 0px;
    border: rgb(190, 190, 190) solid 1px;
}

.content-detail-services .text-services-detail {
    float: left;
    width: 40%;
    padding: 5vh 5vw 0vh 0vw;
    color: #490A3D;
}

.content-detail-services p {
    color: #707070;
    text-align: justify;
    text-justify: inter-word;
}

.content-detail-services .text-services-detail h2 {
    color: #490A3D;
    padding: 0 0 2vh 0;
}

.content-detail-services .schedule-services {
    grid-column-start: 6;
    grid-column-end: 8;
    width: 30%;
    padding: 5vh 5vw 0vh 0vw;
    height: 80%;
    display: flex;
    flex: wrap;
    flex-direction: column;  
    justify-content: center;
}

.details-container {
    grid-column-start: 1;
    grid-column-end: 8;
    width: 80vw;
    padding: 5vh 5vw 0vh 10vw;
}

.details-container h2 {
    width: 88vw;
    float: left;
    color: #490A3D;
    box-sizing: border-box;
    border: 1px solid #490A3D;
    border-width: 0px 0px 1px 0px;
    padding-bottom: 1vh;
}

.details-container p {
    color:#707070;
}
