* {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

.button {
    width: 220px;
    background: rgba(73, 10, 61, 1);
    color: white;
    border: 0;
    height: 60px;
    border-radius: 100px;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: all 0.3s ease 0s;
}

.button:hover {
    background-color: rgba(73, 10, 61, 0.8);
}

li, a, button {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    font: Bold 14px Montserrat;
    letter-spacing: 0.95px;
    color: rgba(73, 10, 61, 1);
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    height: 10vh;
    background: #fff;
    box-shadow: 0px 3px 15px #00000029;
}

header.user {
    justify-content: flex-start;
}

header .logo {
    cursor: pointer;
}
header.geral .logo {
    margin-right: auto;
}

header .nav__links {
    list-style: none;
}

header .nav__links li {
    display: inline;
    padding: 0px 20px;
    margin-left: 50px;
}

header .nav__links li a {
    transition: all 0.3s ease 0s;
}

header .nav__links li a:hover {
    color: rgba(73, 10, 61, 0.6);
}

header.user .user-area {
    margin-left: auto;
    display: flex;
    align-items: center;
}

header.user .user-area a {
    display: flex;
}

header.user .user-area * {
    margin-left : 10px;
    text-transform: uppercase;
}

header button {
    margin-left: 50px;
    padding: 9px 50px;
    background-color: #490A3D;
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

header button:hover {
    background-color: rgba(73, 10, 61, 0.8);
}

a {
    text-decoration: none;
    color: unset;
}

.container-header {
    /* border: 1px solid #707070; */
    padding: 7vh 10vw;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.container-header .background-header {
    position: absolute;
    z-index: -1;
    top: 0px;
    background-image: url("../../assets/img/all.png"); 
    background-repeat: repeat;
    opacity: 1;
    width: 88%;  
    height: 100%;
}

.container-header h1 {
    text-align: left;
    font-size: 34px;
    font-weight: 500;
}