@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&family=Montserrat:wght@400;700&family=Open+Sans:wght@300;400;700&family=Poppins:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  justify-content: center;
  /* align-items: center; */
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: unset;
  font-size: 34px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

html {
  height: 100%;
  width: 100%;
}

body {
  position: flex;
  flex-direction: column;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.button {
  width: 220px;
  background: rgba(73, 10, 61, 1);
  color: white;
  border: 0;
  height: 60px;
  border-radius: 100px;
  font-weight: 700;
  margin-top: 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  line-height: 60px;
  transition: all 0.3s ease 0s;
}

.button:hover {
  background-color: rgba(73, 10, 61, 0.8);
}

.container-header {
  /* border: 1px solid #707070; */
  padding: 7vh 10vw;
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.container-header .background-header {
  position: absolute;
  z-index: -1;
  top: 0px;
  background-image: url("./images/all.png"); 
  background-repeat: repeat;
  opacity: 1;
  width: 88%;  
  height: 100%;
}

.container-header h1 a {
  text-align: left;
  font-size: 34px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}